<h2>Create normal user (Form Reactive)</h2>

<form [formGroup]="formUser" (ngSubmit)="ngSubmitForm()">
  <div class="mb-4">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      required
      formControlName="name"
    />
    <div
      [hidden]="!formUser.get('name')?.errors?.['required'] || !formUser.get('name')?.touched "
      class="alert alert-danger"
    >
      This field is required.
    </div>
  </div>

  <div class="mb-4 form-check">
    <label for="checkAdult" class="form-label"
      >Are you over 18 years of age?</label
    >
    <input
      type="checkbox"
      class="form-check-input"
      id="checkAdult"
      name="checkAdult"
      formControlName="checkAdult"
    />
  </div>

  <div class="mb-4">
    <label for="department" class="form-label">Department</label>
    <select
      name="department"
      id="department"
      class="form-select form-select-sm"
      formControlName="department"
    >
      <option selected>Open this select menu</option>
      <option value="marketing">Marketing</option>
      <option value="sales">Sales</option>
      <option value="other">Other</option>
    </select>
  </div>

  <div class="mb-4">
    <label for="comment" class="form-label">Comment</label>
    <textarea
      class="form-control"
      name="comment"
      id="comment"
      rows="4"
      placeholder="Leave a comment......"
      formControlName="comment"
      required
    ></textarea>
    <div
      [hidden]="!formUser.get('comment')?.errors?.['required'] || !formUser.get('comment')?.touched "
      class="alert alert-danger"
    >
      This field is required.
    </div>
  </div>

  <button
    mat-raised-button
    color="accent"
    type="submit"
    [disabled]="formUser.invalid"
  >
    Create
  </button>
</form>
