.container-sidenav {
  min-height: 100%;
  transform: none;
  height: auto !important;
  margin: 0px;
  background-color: bisque;
}

.container-sidenav mat-sidenav {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  min-width: 260px;
}

.example-sidenav-content section main {
  padding: 80px;
}
