<mat-sidenav-container class="container-sidenav">
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened>
    <div>
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option routerLink="form-template"
          >Add admin user</mat-list-option
        >
        <mat-list-option routerLink="form-reactive"
          >Add normal user</mat-list-option
        >
        <mat-list-option routerLink="list-users">List User</mat-list-option>
        <mat-list-option routerLink="">Other actions</mat-list-option>
      </mat-selection-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-content">
    <section>
      <main [ngSwitch]="optionSideBar">
        <router-outlet></router-outlet>
      </main>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
